.post-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto;
}

.list-message-card {
    background-color: var(--glass-bg-medium);
    backdrop-filter: blur(.8rem);
    border: .1rem solid var(--border);
    color: var(--text);
    box-shadow: 0 .4rem 1.2rem 0 var(--shadow-soft);
    border-radius: var(--radius-s);
    padding: 3rem 2rem;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.6);

    max-width: 120rem;
    margin: 2rem auto;

    p {
        font-family: 'Cinzel', serif;
        font-size: 1.8rem;
        color: var(--muted);
    }
}

.post-item-with-actions {
    position: relative;
    transition: transform 0.2s ease-out;

    &:hover {

        .post-item-actions {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
        }
    }
}