.page {
    padding-top: .5rem;
    text-align: center;

    .inner {
        max-width: 80rem;
        margin: 2rem auto;
        position: relative;
        border-radius: var(--radius-l);
        background-color: var(--bg);
        box-shadow: var(--shadow-soft);
        padding: 1rem;
    }

    @media screen and (max-width:800px) {
        margin: 0 2rem;
    }
}

.page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('../src/assets/main_bg.png');
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}